body{
    background-color:white;
}

.description{
    margin-bottom: 40px;
}

.manualTitle{
    font-weight: 700;
    margin-bottom: 10px;
}
.manual{
    margin-bottom: 30px;
}

#canvas-wrapper{
    position:relative;
    width:800px;
    margin-bottom: 10px;
}

#canvas-wrapper > #image{
    vertical-align: center;
    object-fit: contain;
    width:100%;
}

#canvas-wrapper > #output{
    position:absolute;
    left:0;
}

#upload-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#upload{
    display: none;
}


