#canvas-wrapper{
    position:relative;
    width:800px;
    
}

#canvas-wrapper > #image{
    vertical-align: center;
    object-fit: contain;
    width:100%;
}

#canvas-wrapper > #output{
    position:absolute;
    left:0;
}

#upload{
}